<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234514811906-r80te13nulg4rnscojt9g0m3eo2csfg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234514811906-r80te13nulg4rnscojt9g0m3eo2csfg7</string>
	<key>API_KEY</key>
	<string>AIzaSyCNK_-UkEVfie7AhCqcPHCfK5ZQDLv7_HY</string>
	<key>GCM_SENDER_ID</key>
	<string>234514811906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busBooking</string>
	<key>PROJECT_ID</key>
	<string>bus-booking-fd2ce</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-booking-fd2ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234514811906:ios:a12eb54ed438dfdcd5eb1b</string>
</dict>
</plist>